* {
    margin: 0;
    padding: 0;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    -webkit-font-smoothing: antialiased;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    border-spacing: 0px;
}

:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
    padding: 0;
    border: 0 none;
}

.layout-wrapper {
    width: 85%;
    max-width: 1400px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f6f6ef;
    overflow: hidden;
}

@media only screen and (max-width: 750px) and (min-width: 0px) {
    .layout-wrapper {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
