.edit-comment-content-container {
    width: 100%;
    padding: 15px 0px 15px 0px;
}

.edit-comment-top-section {
    margin-bottom: 10px;
    color: #828282;
    font-size: 10.75px;
}

.edit-comment-top-section a,
.edit-comment-top-section a:visited {
    text-decoration: none;
    color: #828282;
}

.edit-comment-top-section a:hover {
    text-decoration: underline;
}

.edit-comment-top-section-left-section {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.edit-comment-top-section-star {
    position: relative;
    top: -2px;
    vertical-align: top;
    text-align: center;
    color: rgb(255, 102, 0);
    font-size: 13.5px;
    width: 20px;
}

.edit-comment-top-section-right-section {
    display: inline-block;
}

.edit-comment-content {
    padding-top: 7.5px;
    padding-bottom: 15px;
    padding-right: 15px;
    color: #000000;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    overflow: hidden;
    white-space: pre-wrap;
}

.edit-comment-content a {
    color: #000000;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    white-space: nowrap;
    vertical-align: top;
}

.edit-comment-content a:link {
    text-decoration: underline;
}

.edit-comment-content a:visited {
    color: #828282;
}

.edit-comment-input-box {
    margin-left: 10px;
}

.edit-comment-input-box-label {
    display: inline-block;
    width: 37.5px;
    vertical-align: top;
    font-size: 13.5px;
    color: #828282;
}

.edit-comment-input-box textarea {
    width: 600px;
    max-width: 92.5%;
    vertical-align: middle;
    -webkit-writing-mode: horizontal-tb;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 2px 0px 0px 2px;
}

.edit-comment-input-box textarea[type="text"] {
    font-family: monospace;
    font-size: 13.5px;
}

.edit-comment-input-box-help {
    vertical-align: bottom;
    margin-left: 2.5px;
}

.edit-comment-input-box-help a {
    text-decoration: none;
    font-size: 10px;
    color: rgb(175, 175, 175);
}

.edit-comment-input-submit-btn {
    margin-left: 10px;
    margin-top: 15px;
}

.edit-comment-input-submit-btn input {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.edit-comment-input-submit-btn input[type="submit"] {
    font-family: monospace;
    font-size: 13.5px;
}

.edit-comment-input-submit-btn input[type="submit"]:active {
    border-style: inset;
}

.edit-comment-submit-error-msg {
    color: #828282;
    font-size: 13.5px;
    margin-top: 15px;
    margin-left: 10px;
}

.edit-comment-error-msg {
    margin: 8px;
    font-size: 13.5px;
    color: #828282;
}

@media only screen and (max-width: 800px) and (min-width: 0px) {
    .edit-comment-content {
        font-size: 13.5px;
    }

    .edit-comment-content a {
        max-width: 250px;
    }

    .edit-comment-input-box textarea {
        width: 80%;
        max-width: 80%;
        height: 120px;
    }

    .edit-comment-input-box textarea[type="text"] {
        font-size: 16px;
    }

    .edit-comment-submit-error-msg {
        font-size: 13.5px;
    }
}

@media only screen and (max-width: 400px) and (min-width: 0px) {
    .edit-comment-content {
        font-size: 13.5px;
    }

    .edit-comment-input-box textarea {
        width: 75%;
        max-width: 75%;
        height: 150px;
    }

    .edit-comment-input-box textarea[type="text"] {
        font-size: 16px;
    }

    .edit-comment-submit-error-msg {
        font-size: 13.5px;
    }
}
