.news-guidelines-wrapper {
    width: 500px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.news-guidelines-top-image {
    border: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.news-guidelines-top-image img {
    height: 70%;
    width: 70%;
}

.news-guidelines-text-container {
    background-color: #fafaf0;
    font-size: 11px;
    padding: 10px 10px 50px 10px;
}

.news-guidelines-text-container p {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 15.75px;
    font-family: Verdana, Geneva, sans-serif;
}

.news-guidelines-text-container p a,
.news-guidelines-text-container p a:visited {
    color: rgb(0, 0, 0);
    font-family: Verdana;
    text-decoration: underline;
}

.news-guidelines-text-title {
    color: #333333;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-guidelines-bottom-divider {
    width: 100%;
    background-color: rgb(255, 102, 0);
    height: 3px;
    margin-top: 25px;
}

@media only screen and (max-width: 750px) and (min-width: 0px) {
    .news-guidelines-wrapper {
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .news-guidelines-top-image img {
        height: auto;
        width: 100%;
    }

    .news-guidelines-text-container {
        background-color: #fafaf0;
        font-size: 13px;
        padding-right: 15px;
    }
}
