<html>
  <head>
    <title>Password changed for {{username}}</title>
  </head>
  <body>
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <span>Someone changed the password on your HeckarNews account ({{username}}). If you did this, great! There's no need to reply, we just wanted to confirm it with you as a safeguard against account theft.</span>
    </div>
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <span>If it wasn't you, please let us know right away so we can restore your account access and investigate what happened.</span>
    </div>
    <div style="margin-top: 20px; margin-bottom: 5px;">
      <span>Regards</span>
    </div>
    <div style="margin-top: 5px; margin-bottom: 10px;">
      <span>HeckarNews Team</span>
    </div>
  </body>
</html>
