<html>
  <head>
    <title>Email changed for {{username}}</title>
  </head>
  <body>
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <span>Someone has {{actionType}} the email address for your HeckarNews account ({{username}}). We just wanted to confirm that with you as a safeguard against account theft. If it was you, no problem! Sorry for bothering you, and no need to reply.</span>
    </div>
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <span>If it wasn't you, please let us know right away so we can ensure your account access and investigate what happened.</span>
    </div>
    <div style="margin-top: 20px; margin-bottom: 5px;">
      <span>Regards,</span>
    </div>
    <div style="margin-top: 5px; margin-bottom: 10px;">
      <span>HeckarNews Team</span>
    </div>
  </body>
</html>
