<html>
  <head>
    <title>HeckarNews Password Recovery</title>
  </head>
  <body>
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <span>Someone (hopefully you) requested we reset your password for {{username}} at HeckarNews. If you want to change it, please visit <a href={{resetUrl}}>{{resetUrl}}</a></span>
    </div>
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <span>If not, just ignore this message.</span>
    </div>
  </body>
</html>
