.moderation-shadow-banned-users-content-container {
    padding: 20px 15px 20px 15px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13.5px;
    color: #828282;
}

.moderation-shadow-banned-users-table td {
    padding-bottom: 5px;
    padding-right: 20px;
}

.moderation-shadow-banned-users-table-header td {
    padding-bottom: 10px;
}

.moderation-shadow-banned-users-table td a {
    text-decoration: none;
    color: #000000;
}

.moderation-shadow-banned-users-table td a:hover {
    text-decoration: underline;
}

.moderation-shadow-banned-users-more {
    margin-top: 12.5px;
}

.moderation-shadow-banned-users-more a {
    color: #000000;
    text-decoration: none;
}

.moderation-shadow-banned-users-more a:visited {
    color: #828282;
    text-decoration: none;
}

.moderation-shadow-banned-users-error-msg {
    color: #828282;
}
